{% extends 'base.html' %}

{% block content %}
{% include 'navbar.html' %}

<div class="pricing-header px-3 py-3 pt-md-1 pb-md-4 mx-auto text-center">
  <div class="row">
    <!-- Все пользователи -->
    <div class="col-12">
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 fw-bold" style="color: #34373a;">Список пользователей</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            <li class="card-text fw-bold">Всего пользователей: {{ users|length }}</li>

            <!-- Список всех пользователей -->
            <div class="container">
              <ul class="list-group w-100">
                {% for user in users %}
                <li class="list-group-item">
                  <div class="row align-items-center">
                    <div class="col-4 text-start">
                      <strong>{{ user.username }}</strong>
                    </div>
                    <div class="col-4 text-end text-muted">
                      {{ user.email }}
                    </div>
                    <div class="col-4 text-end">
                      <form action="{% url 'users:block_user' user.id %}" method="post">
                        {% csrf_token %}
                        {% if user.is_active == True %}
                        <button type="submit"
                                class="btn btn-danger btn-sm {% if not user.groups.all|dictsort:'name'|join:', ' != 'Менеджеры' %} disabled {% endif %}">
                          Блокировать
                        </button>
                        {% else %}
                        <button type="submit"
                                class="btn btn-success btn-sm {% if not user.groups.all|dictsort:'name'|join:', ' != 'Менеджеры' %} disabled {% endif %}">
                          Разблокировать
                        </button>
                        {% endif %}
                      </form>
                    </div>
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
