<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-3 mb-3 bg-white border-bottom box-shadow">
  <nav class="navbar navbar-expand-lg bg-body-tertiary w-100">
    <div class="container-fluid">
      <img src="/media/postpilot/postpilot_logo2.jpg" class="rounded-circle" style="max-width: 10%">
      <a class="navbar-brand" style="color: #34373a;border-radius: 25px;" href="{% url 'postpilot:welcome' %}">POSTPILOT</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
              aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Переключатель навигации">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="{% url 'postpilot:home' %}">Главная</a>
          <a class="nav-link active" aria-current="page" href="{% url 'postpilot:mailing_list' %}">Список
            рассылок</a>
          <a class="nav-link" href="#">Сообщения</a>
          <a class="nav-link" href="{% url 'postpilot:recipient_list' %}">Уникальные получатели</a>
        </div>
      </div>
    </div>
  </nav>
</div>