{% extends 'base.html' %}

{% block content %}
{% include 'navbar.html' %}

<div class="container-fluid content-center pt-5 mt-5 pb-5 mb-5 bg-tertiary text-dark">
  <div class="row">
    <div class="col-10">
      <h1 class="text-center">POSTPILOT - создавайте рассылки по электронной почте за считанные минуты!</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-10">
      <img src="/media/postpilot/postpilot_small.jpg" width="50%" class="d-block ms-auto">
    </div>
  </div>
  <div class="row">
    <div class="col-10">
      <a href="#" class="btn btn-primary w-25 d-block mx-auto">Создать рассылку</a>
    </div>
  </div>
</div>


{% endblock %}