{% extends 'base.html' %}

{% block content %}

<!-- Содержимое отцентрировано как по горизонтали, так и по вертикали (vh-100) -->
<div class="container d-flex flex-column align-items-center justify-content-center text-center vh-100">
  <h1 class="mb-4">POSTPILOT - создавайте рассылки по электронной почте за считанные минуты!</h1>

  <img src="/media/postpilot/postpilot_small.jpg" width="50%" class="d-block mx-auto mb-4">

  <div class="d-flex gap-3">
    <a href="{% url 'postpilot:mailing_create' %}" class="btn btn-primary">Создать рассылку</a>
    <a href="{% url 'postpilot:home' %}" class="btn btn-secondary">Перейти на главную</a>
  </div>
</div>

{% endblock %}