{% extends 'base.html' %}

{% block content %}
{% include 'navbar.html' %}

<div class="pricing-header px-3 py-3 pt-md-1 pb-md-4 mx-auto text-center">
  <div class="row">

    <div class="row ">
      <div class="col-md-4 mx-auto">
        {% if user.is_authenticated %}
        <a class="btn btn-primary" href="{% url 'postpilot:mailing_create' %}" role="button">Создать рассылку</a>
        {% endif %}
      </div>
    </div>
    <p>&nbsp;</p>

    <!-- Все рассылки -->
    <div class="col-12">
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 fw-bold" style="color: #34373a;">Список рассылок</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            <li class="card-text fw-bold">Всего рассылок: {{ mailings|length }}</li>

            <!-- Список всех рассылок -->
            <div class="container">
              <ul class="list-group w-100">

                {% for mailing in mailings %}
                <li class="list-group-item">
                  <div class="row">

                    <!-- Название рассылки -->
                    <div class="col-3 text-start"><strong>{{ mailing.message }}</strong></div>

                    <!-- Статус рассылки -->
                    <div class="col-1 text-end text-muted" style="font-size: 80%">{{ mailing.get_status_display }}
                    </div>

                    <!-- Кнопка отправить -->
                    <div class="col-2">
                      <form action="{% url 'postpilot:sendattempt' mailing.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit"
                                class="btn btn-success w-100 btn-sm
                                {% if mailing.status == 'started' or mailing.owner != user %} disabled {% endif %}">
                          {% if mailing.status == "started" %}
                          Отправлено
                          {% else %}
                          Отправить
                          {% endif %}
                        </button>
                      </form>
                    </div>

                    <!-- Кнопка Остановить -->
                    <div class="col-2">
                      <form action="{% url 'postpilot:stopattempt' mailing.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit"
                                class="btn btn-danger w-100 btn-sm
                                {% if mailing.status != 'started' or mailing.owner != user %} disabled {% endif %}">
                          Остановить
                        </button>
                      </form>
                    </div>

                    <!-- Кпопка Редактировать -->
                    <div class="col-2"><a
                            class="btn btn-primary w-100 btn-sm {% if mailing.status == 'started' or mailing.owner != user %} disabled {% endif %}"
                            href="{% url 'postpilot:mailing_update' mailing.id %}" role="button"
                            title="Редактировать">Редактировать</a>
                    </div>

                    <!-- Кнопка Удалить -->
                    <div class="col-2"><a
                            class="btn btn-danger w-100 btn-sm {% if mailing.status == 'started' or mailing.owner != user %} disabled {% endif %}"
                            href="{% url 'postpilot:mailing_delete' mailing.id %}"
                            role="button"
                            title="Удалить">Удалить</a>
                    </div>

                  </div>
                </li>
                {% endfor %}

              </ul>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
