{% extends 'base.html' %}

{% block content %}
{% include 'navbar.html' %}

<div class="pricing-header px-3 py-3 pt-md-1 pb-md-4 mx-auto text-center">
  <div class="row">
    <div class="col-4">
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 fw-bold" style="color: #34373a;">Список рассылок</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            <li class="card-text fw-bold">Всего рассылок: {{ mailings.count }}</li>
            <br />
            <li><a class="btn btn-primary" href="#" role="button">Создать рассылку</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 fw-bold" style="color: #34373a;">Активные рассылки</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            <li>1. Создание рассылок</li>
            <li>2. Редактирование рассылок</li>
            <li>3. Удаление рассылок</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 fw-bold" style="color: #34373a;">Уникальные получатели</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            <li>1. Создание получателя</li>
            <li>2. Редактирование получателя</li>
            <li>3. Удаление получателя</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}