{% extends 'base.html' %}

{% block title %} POSTPILOT - добавить получателя {% endblock %}
{% block content %}

{% include 'navbar.html' %}
<!-- mailing_form -->
  <div class="container">
    <div class="row" style="align-items: center; justify-content: center">
      <div class="col-6">
        <form class="row" method="post" enctype="multipart/form-data">
          <div class="card">
            <div class="card-body">
              {% csrf_token %}
              {{ form.non_field_error }}
              {{ form.as_p }}
            </div>
            <div class="btn-group">
              <button type="submit" class="btn btn-primary">Сохранить</button>
              <a href="{% url 'postpilot:home' %}" class="btn btn-secondary">Отменить</a>
            </div>
            <br/>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}